.inputCalc {
  grid-area: header;
  background-color: #6a7181;
  color: white;
  text-align: right;
  font-size: 30px;
  height: 90px;
}

.calcNumber {
  grid-area: number;
  width: 80%;
}

.buttonContainer {
  display: flex;
  width: 600px;
}

.calcOperators {
  grid-area: operators;
  display: grid;
  grid-template-columns: auto;
  width: 160px;
}

.calcContainer {
  display: grid;
  grid-template-areas:
    'header header'
    'number operators';
  gap: 1px;
  margin-left: 10%;
  margin-top: 30px;
  width: 600px;
}

.heightbtn {
  height: 90px;
  font-size: 20px;
}

.calcNumber1 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.itemcalc {
  border: 1px solid rgba(196, 193, 193, 0.8);
  text-align: center;
}

.zero {
  text-align: center;
  border: 1px solid rgba(196, 193, 193, 0.8);
  width: 67.7%;
}

.dot {
  text-align: center;
  border: 1px solid rgba(196, 193, 193, 0.8);
  width: 32.3%;
}

.calcNumber2 {
  display: flex;
  flex-direction: row;
}

.calcOperators > button {
  background-color: #faa453;
  border: 1px solid rgba(196, 193, 193, 0.8);
  font-size: 20px;
}
